<!doctype html>
<html lang="ko">
<head>
    <title>hafamily_streaming</title>
    <% include fragment/metatag.ejs %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<% include fragment/nav.ejs %>

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= type %></li>
        </ol>
    </nav>
    <table class="table">
        <thead class="thead-dark ">
        <tr>
            <th width="10%">#</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < list.length; i++) {
        %>
            <tr>
                <td><%= i %></td>
                <td><a id="file" href="/player?type=<%= type %>&file=<%= list[i] %>"><%= list[i] %></a></td>
            </tr>
        <%
        }
        %>
        </tbody>
    </table>

</div>
<% include fragment/commonScript.ejs %>
</body>
</html>
